{{- if .Values.enabled }}
apiVersion: postgresql.cnpg.io/v1
kind: Cluster
metadata:
  name: {{ .Release.Name }}
  labels:
    app.kubernetes.io/name: postgresql-cluster
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/managed-by: {{ .Release.Service }}
spec:
  instances: {{ .Values.cluster.instances }}
  primaryUpdateStrategy: {{ .Values.cluster.primaryUpdateStrategy }}
  primaryUpdateMethod: {{ .Values.cluster.primaryUpdateMethod }}

  imageName: {{ .Values.image.repository }}:{{ .Values.image.tag }}

  {{- if .Values.superuserSecret.name }}
  superuserSecret:
    name: {{ .Values.superuserSecret.name }}
  {{- end }}

  bootstrap:
    initdb:
      database: {{ .Values.bootstrap.initdb.database }}
      owner: {{ .Values.bootstrap.initdb.owner }}
      {{- if or .Values.bootstrap.initdb.secret.name .Values.appSecret.name }}
      secret:
        name: {{ .Values.bootstrap.initdb.secret.name | default .Values.appSecret.name }}
      {{- end }}

  storage:
    size: {{ .Values.storage.size }}
    {{- if .Values.storage.storageClass }}
    storageClass: {{ .Values.storage.storageClass }}
    {{- end }}

  {{- if .Values.resources }}
  resources:
    {{- toYaml .Values.resources | nindent 4 }}
  {{- end }}

  {{- if .Values.postgresql.parameters }}
  postgresql:
    parameters:
      {{- range $key, $value := .Values.postgresql.parameters }}
      {{ $key }}: {{ $value | quote }}
      {{- end }}
    {{- if .Values.postgresql.pgHBA }}
    pg_hba:
      {{- toYaml .Values.postgresql.pgHBA | nindent 6 }}
    {{- end }}
  {{- end }}

  {{- if .Values.monitoring.enabled }}
  monitoring:
    enablePodMonitor: {{ .Values.monitoring.podMonitorEnabled }}
  {{- end }}

  {{- if .Values.backup.enabled }}
  backup:
    retentionPolicy: {{ .Values.backup.retentionPolicy }}
    {{- if .Values.backup.s3.enabled }}
    barmanObjectStore:
      destinationPath: s3://{{ .Values.backup.s3.bucket }}{{ .Values.backup.s3.path }}
      {{- if .Values.backup.s3.endpointURL }}
      endpointURL: {{ .Values.backup.s3.endpointURL }}
      {{- end }}
      s3Credentials:
        accessKeyId:
          name: {{ .Values.backup.s3.secret.name }}
          key: ACCESS_KEY_ID
        secretAccessKey:
          name: {{ .Values.backup.s3.secret.name }}
          key: ACCESS_SECRET_KEY
      wal:
        compression: gzip
      data:
        compression: gzip
    {{- end }}
  {{- end }}

  {{- if .Values.affinity }}
  affinity:
    {{- toYaml .Values.affinity | nindent 4 }}
  {{- end }}

  {{- if .Values.nodeSelector }}
  nodeSelector:
    {{- toYaml .Values.nodeSelector | nindent 4 }}
  {{- end }}

  {{- if .Values.tolerations }}
  tolerations:
    {{- toYaml .Values.tolerations | nindent 4 }}
  {{- end }}
{{- end }}
