{{- if and .Values.enabled .Values.database.enabled }}
{{- if .Values.database.secret.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.database.secret.name | default (printf "%s-nextcloud-db-app" .Release.Name) }}
  labels:
    app.kubernetes.io/name: nextcloud-database
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.database.secret.username }}
  password: {{ .Values.database.secret.password | default (randAlphaNum 32) }}
{{- end }}

{{- if .Values.database.superuserSecret.create }}
---
apiVersion: v1
kind: Secret
metadata:
  name: {{ .Values.database.superuserSecret.name | default (printf "%s-nextcloud-db-superuser" .Release.Name) }}
  labels:
    app.kubernetes.io/name: nextcloud-database
    app.kubernetes.io/instance: {{ .Release.Name }}
    app.kubernetes.io/component: database
    app.kubernetes.io/managed-by: {{ .Release.Service }}
type: kubernetes.io/basic-auth
stringData:
  username: {{ .Values.database.superuserSecret.username }}
  password: {{ .Values.database.superuserSecret.password | default (randAlphaNum 32) }}
{{- end }}
{{- end }}
