{{- if and .Values.local.enabled (not .Values.local.auth.existingSecret) }}
apiVersion: v1
kind: Secret
metadata:
  name: tunnel-secret
type: Opaque
stringData:
  tunnel-config.json: >
    {
      "AccountTag": "{{ required "The Cloudflare Tunnel Account Tag is missing." .Values.local.auth.accountTag }}",
      "TunnelSecret": "{{ required "The Cloudflare Tunnel Secret is missing." .Values.local.auth.tunnelSecret }}",
      "TunnelID": "{{ required "The Cloudflare Tunnel ID is missing." .Values.local.auth.tunnelID }}",
    }
{{- end }}
